src/LinearLogFlow/Config/LogFlowConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="server">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="index">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="log">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required" />
												<xs:attribute name="name" type="xs:string" use="optional" />
												<xs:attribute name="path" type="xs:string" use="required" />
												<xs:attribute name="encoding" type="xs:string" use="optional" />
												<xs:attribute name="ttl" type="xs:string" use="optional" />
												<xs:attribute name="mapping" type="xs:string" use="optional" />
												<xs:attribute name="addSource" type="xs:boolean" use="optional" />
												<xs:attribute name="timestamp" type="xs:string" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="indexName" type="xs:string" use="required" />
									<xs:attribute name="indexTemplate" type="xs:string" use="optional" />
									<xs:attribute name="defaultEncoding" type="xs:string" use="optional" />
									<xs:attribute name="defaultTtl" type="xs:string" use="optional" />
									<xs:attribute name="defaultMapping" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="uri" type="xs:anyURI" use="required" />
						<xs:attribute name="isCluster" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>